<footer class="page-footer font-small custom-full-footer pt-4">
    <div class="container-fluid text-center text-md-left custom-footer-top">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Kyrgyzstan Trading</h5>
                <p>Footer content will be placed here</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3 ml-auto">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Contact administration</a>
                    </li>
                    <li>
                        <a href="#">Vacancies</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center custom-footer-bottom py-2">© 2018 Copyright:
        KZtrading
    </div>
</footer>