footer{
    /*position: relative;*/
    /*bottom: 0;*/
    /*left: 0;*/
    margin-top: 30px;
    width: 100%;
}

.custom-full-footer{
    color: #386324;
    background-color: #e2f9cd;
}

.custom-full-footer a{
    color: #51852c;
}

.custom-full-footer a:hover{
    color: #274e32;
}

.custom-full-footer a:visited{
    color: #386324;
}
